.home {
    margin-top: 50px;
}

h2 {
    margin: 8px 0;
}

.container {
    max-width: 1600px;
    padding: 30px;
}

.video {
    display: flex;
}

.main__video {
    width: 90%;
    max-height: 900px;
    margin-right: 16px;
}

.main__video__wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    border-radius: 8px;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.main__video__detail {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    img {
        width: 40px;
        height: 40px;
        margin-right: 8px;
    }
}

.main__video__description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.video__image__wrapper {
    width: 120px;
}

.video__image {
    position: relative;
    flex-shrink: 0;
    width: 120px;
    margin-right: 8px;
    padding-top: 10%;
    overflow: hidden;
    border-radius: 8px;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.video__list {
    max-height: 900px;
    padding: 8px;
    overflow-y: scroll;
    border: 1px solid #ededed;
    border-radius: 8px;
}

.video__list__wrapper {
    display: flex;
    margin-bottom: 8px;
    padding: 4px;
    border-radius: 4px;
    transition: 0.3s;
    cursor: pointer;

    &:first-child {
        margin-bottom: 0;
    }

    &:hover {
        background: #ededed;
    }
}

.user__list {
    padding: 0;
    list-style: none;

    .user__wrapper {
        display: flex;
        margin-bottom: 8px;
    }

    img {
        flex-shrink: 0;
        width: 60px;
        height: 60px;
        margin-right: 8px;
        border-radius: 100%;
        overflow: hidden;
    }
}

.user__name {
    font-weight: bold;

    span {
        margin-left: 5px;
        font-weight: normal;
        font-size: 12px;
        color: $block_txt;
    }
}

.user__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video__list__info__title {
    font-size: 12px;
    color: $block_txt;
}

.notice {
    color: $block_title;
}

.user__replies {
    padding-left: 1em;
    font-size: 14px;

    img {
        width: 20px;
        height: 20px;
    }

    ul {
        padding: 0;
        list-style: none;
    }

    li {
        display: flex;
    }
}
